<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Movimentações</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<header class="bg-dark text-white text-center py-4">
    <h1>Histórico de Movimentações de EPIs</h1>
    <a class="btn btn-light" href="{{ url_for('movimentacoes') }}">Voltar para Movimentações</a>
</header>

<main class="container mt-5">
    <h2 class="mb-4">Histórico de Movimentações</h2>
    
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>EPI</th>
                <th>CA</th>
                <th>Quantidade</th>
                <th>Data</th>
                <th>Nota Fiscal</th>
                <th>Fornecedor</th>
            </tr>
        </thead>
        <tbody>
            {% for movimentacao in movimentacoes %}
                <tr>
                    <td>{{ movimentacao[0] }}</td>  <!-- Nome do EPI -->
                    <td>{{ movimentacao[1] }}</td>  <!-- CA do EPI -->
                    <td>{{ movimentacao[2] }}</td>  <!-- Quantidade -->
                    <td>{{ movimentacao[3] }}</td>  <!-- Data -->
                    <td>{{ movimentacao[4] }}</td>  <!-- Nota Fiscal -->
                    <td>{{ movimentacao[5] }}</td>  <!-- Fornecedor -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
